html, body{
    margin:0;
    padding:0;
}

#container{
    display: grid;
    grid-template-areas: 'head' 'nav' 'mid' 'foot';
    background-color: #d2f5e3;
}

.space li{
  padding:5px;
  margin:5px;
}

body{
    min-width: 1200px;
    max-width: 1200px;
    margin:auto;
    background-color: #d2f5e3;
}

header{
    margin-top: 20px;
    grid-area: head;
    border: 3px solid #94b4a4;
    background-color: #f4d9c6;
    height:110px;
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto;
}

h1{
    text-align:center;
    font-size: 3em;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
}

#headerLink{
    text-decoration: none;
    color: black;
}

#headerLink:hover{
    color: black;
}

.headerPic{
    width:100px;
    height:100px;
    border-radius: 90px;
    border: 2px solid #94b4a4;
}

#leftpic{
    float:right;
}

#nav{
    grid-area: nav;
    text-align:center;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.navigation{
    background-color: #f4d9c6;
    border: 3px solid #94b4a4;
    text-align:center;
    height: 30px;
    width:300px;
    font-size: 18pt;
    overflow: hidden;
}

.menuLink{
    display:inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    padding: 0;
}
.submenu a:hover{
    background-color: #f4d9c6;
}

.submenu a{
    text-decoration: none;
    position:relative;
    display:block;
    background-color: #94b4a4;
    padding:10px;
    border: 3px solid #94b4a4;
    
}

h3{
    text-align:center;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
}

#mid{
    padding-top: 15px;
    grid-area: mid;
}

#about{
    text-align: center;
}

h2{
    text-align:center;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    text-transform: uppercase;
}

#topSection{
    display: grid;
    grid-template-columns: auto auto;
	border-bottom:1px solid gray;
	margin-bottom:20px;
	padding-bottom:20px;
}

#dsm{
    margin-right: 10px;
}

iframe{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.reference{
    font-size: 0.7em;
}

#bottomSection{
    display: grid;
    grid-template-columns: auto auto auto;
}

.referenceBot{
    font-size: 0.7em;
    text-align: center;
}

footer{
    border: 3px solid #94b4a4;
    background-color: #f4d9c6;
    font-size: 0.85em;
    grid-area: foot;
    text-align:center;
    padding:2px;
    margin-bottom:5px;
    margin-top:5px;
}

#footerSmall{
    font-size: 0.85em;
}

a{
    color: #000000;
}

a:hover{
    color: #0B2639;
}